altgraph==0.17.2
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
fire==0.4.0
fonttools==4.31.2
future==0.18.2
imageio==2.15.0
imantics==0.1.12
importlib-metadata==4.11.3
imutils==0.5.4
joblib==1.2.0
kiwisolver==1.4.2
llvmlite==0.37.0
lsnms==0.1.2
lxml==4.8.0
matplotlib==3.5.1
networkx==2.5
numba==0.54.1
numpy==1.19.5
opencv-python
openvino==2021.4.2
packaging==21.3
pandas==1.3.5
pefile==2021.9.3
pika==1.2.0
Pillow==9.3.0
psutil==5.9.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
pywin32-ctypes==0.2.0
PyYAML==6.0
sahi==0.8.8
scikit-image
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Shapely==1.8.0
six==1.16.0
sklearn==0.0
termcolor==1.1.0
terminaltables==3.1.10
threadpoolctl==3.1.0
tqdm==4.63.1
typing_extensions==4.1.1
xmljson==0.2.1
zipp==3.7.0
